<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">Copyright 2021-22 © viho All rights reserved.</p>
            </div>
            <div class="col-md-6 footer-copyright text-end">
                {% if currentUser %}
                        <a href="{{ path(currentUser.role) }}" >{{ currentUser.role }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>