<header class="main-nav">
    <nav>
        <div class="main-navbar">
             <div id="mainnav">           
               <ul class="nav-menu custom-scrollbar">
                    <li></li>
                    <li>
                        <a href="{{ path('posts_admin') }}" class="nav-link {% if currentRoute == "posts_admin" %}active{% endif %}">
                            <i class="fa fa-folder-open fa-2x py-2"></i> 
                            <span>Posts</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/users" class="nav-link ">
                            <i class="fa fa-comments-o fa-2x py-2"></i>
                            <span>Comments</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/users" class="nav-link ">
                            <i class="fa fa-users fa-2x py-2"></i> 
                            <span>Users</span>
                        </a>
                    </li>
                </ul>
            </div> 
        </div>
    </nav>
</header>