<header class="main-nav">
    <nav>
        <div class="main-navbar">
            {# <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div> #}
             <div id="mainnav">           
               <ul class="nav-menu custom-scrollbar">
                    <li></li>
                    <li><a href="/admin/posts" class="nav-link">
                            <i class="fa fa-folder-open fa-2x py-2"></i> 
                            <span>Posts</span>
                        </a>
                    </li>
                    <li><a href="/admin/users" class="nav-link">
                            <i class="fa fa-users fa-2x py-2"></i> 
                            <span>Users</span>
                        </a>
                    </li>
                    {# <li><a href="" class="nav-link">
                            <i class="fa fa-crosshairs fa-2x py-2"></i> 
                            <span>Matchs</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="nav-link">
                            <i class="fa fa-youtube-play fa-2x py-2"></i> 
                            <span>Vods</span>
                        </a>
                    </li> #}
                </ul>
            </div> 
            {# <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div> #}
        </div>
    </nav>
</header>